@use '/src/styles/gradients';
@use '/src/styles/typography';
@use '/src/styles/helpers';
@use '/src/styles/screens';
@use '/src/styles/spacings';
@use '/src/styles/colors';
@use '/src/styles/boxShadows';
@use '/src/styles/textEllipsis';

.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_contact {
    display: flex;
    justify-content: center;
    width: 100%;
    background: colors.$text;
    padding: 0 spacings.$medium;

    @include screens.lg {
      padding: 0 spacings.$xxLarge;
    }
  }

  &_navigationContainer {
    width: 100%;
    background: colors.$accent;
    padding: 0 spacings.$medium;

    @include gradients.boxGradient(top);

    @include screens.lg {
      padding: 0 spacings.$xxLarge;
    }
  }
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: spacings.$small;
  width: 100%;
  min-height: 50px;

  &_logo {
  }

  &_toggleMenuButton {
  }
}
