@use '/src/styles/gradients';
@use '/src/styles/typography';
@use '/src/styles/helpers';
@use '/src/styles/screens';
@use '/src/styles/spacings';
@use '/src/styles/colors';
@use '/src/styles/boxShadows';
@use '/src/styles/textEllipsis';

.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 spacings.$medium;

  &_contentContainer {
    display: flex;
    flex-direction: column;
    gap: spacings.$small;

    @include screens.lg {
    }
  }

  @include screens.lg {
    padding: 0 spacings.$xxLarge;
  }
}
