@use '/src/styles/gradients';
@use '/src/styles/typography';
@use '/src/styles/helpers';
@use '/src/styles/screens';
@use '/src/styles/spacings';
@use '/src/styles/colors';
@use '/src/styles/boxShadows';
@use '/src/styles/textEllipsis';

.navBar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_contact {
    display: flex;
    justify-content: center;
    width: 100%;
    background: colors.$text;
    padding: 0 spacings.$medium;

    @include screens.lg {
      padding: 0 spacings.$xxLarge;
    }
  }

  &_navigationContainer {
    display: flex;
    width: 100%;
    background: colors.$accent;
    padding: 0 spacings.$medium;

    @include gradients.boxGradient(top);

    @include screens.lg {
      padding: 0 spacings.$xxLarge;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: spacings.$small;
  width: 100%;
  min-height: 50px;

  &_logo {
  }

  &_toggleMenuButton {
  }

  &_list {
    position: absolute;
    bottom: 0;
    left: 0;
    background: colors.$accent;
    width: 100%;
    height: 0;
    transform: translateY(100%);
    z-index: 10;

    &__desktop {
      position: static;
      flex: 1 0;
      height: 100%;
      background: transparent;
      transform: none;
    }

    &__fullHeight {
      height: calc(100dvh - 100%);
      transition: height 200ms ease-in-out;
    }
  }
}
