@use '/src/styles/gradients';
@use '/src/styles/typography';
@use '/src/styles/helpers';
@use '/src/styles/screens';
@use '/src/styles/spacings';
@use '/src/styles/colors';
@use '/src/styles/boxShadows';
@use '/src/styles/textEllipsis';

.newsletterForm {
  display: flex;
  flex-direction: column;
  width: 100%;

  &_contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 0 spacings.$xSmall;

    @include screens.md {
      flex-direction: row;
    }
  }

  &_checkboxLabel {
    &:hover {
      cursor: pointer;
    }
  }

  &_helperMessage {
    margin-top: spacings.$medium;

    @include screens.md {
      margin-top: 0;
    }
  }
}
