@use '/src/styles/gradients';
@use '/src/styles/typography';
@use '/src/styles/helpers';
@use '/src/styles/screens';
@use '/src/styles/spacings';
@use '/src/styles/colors';
@use '/src/styles/boxShadows';
@use '/src/styles/textEllipsis';

.sideNavigation {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%;

  &_scrollArea {
    display: flex;
    max-height: 100%;
    width: 100%;

    @include screens.lg {
      max-width: helpers.pxToRem(360);

      max-height: calc(100dvh - 126px);
    }

    &Viewport {
      display: flex;
      height: 100%;
      width: 100%;
      padding: spacings.$small 0;
    }

    &List {
      display: flex;
      flex-direction: column;
      gap: spacings.$small;
    }
  }

  &_link {
    text-decoration: none;
    outline: none !important;

    &:hover,
    &:focus {
      & .sideNavigation_card {
        transform: scale(0.99);
        box-shadow: inset helpers.pxToRem(0, 0, 0, 2) colors.$accent;

        &Title {
          font-weight: 900;
        }

        &Badge {
          box-shadow: inset helpers.pxToRem(0, 0, 0, 1) colors.$accent;
        }
      }
    }

    &[data-is-active='true'] {
      & .sideNavigation_card {
        &Title {
          @include gradients.textGradient(left);
        }

        &Badge {
          background: colors.$text;
          color: colors.$accent;
        }
      }
    }
  }

  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: spacings.$small;
    padding: spacings.$small;
    border-radius: helpers.pxToRem(20);
    border: solid helpers.pxToRem(2) colors.$accent;
    transition: all 200ms ease-in-out;

    &BadgeContainer {
      display: flex;
      justify-content: flex-end;
      gap: spacings.$xSmall;
      flex-wrap: wrap;
      width: 100%;
    }

    &Badge {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
      padding: helpers.pxToRem(4, 16);
      color: colors.$text;
      border-radius: helpers.pxToRem(24);
      border: solid helpers.pxToRem(1) colors.$accent;
      overflow: clip;

      @include typography.helperText;

      @include gradients.boxGradient();
    }

    &Description {
      opacity: 90%;

      @include textEllipsis.createTextEllipsis(3);
    }

    &AdditionalInfo {
      display: flex;
      align-items: center;
      gap: spacings.$xxSmall;
    }

    &IconsWrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: spacings.$small;
      max-width: 100%;
      overflow-x: clip;
    }

    &Icon {
      width: helpers.pxToRem(16);
      height: helpers.pxToRem(16);
      color: colors.$accent;
    }
  }

  &_scrollBar {
    width: helpers.pxToRem(6);
    background-color: #7e5df45d;
    transform: translateX(helpers.pxToRem(16));

    &Thumb {
      width: 100%;
      background-color: colors.$accent;
      border-radius: helpers.pxToRem(4);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: lighten(colors.$accent, 10%);
      }

      &:active {
        background-color: lighten(colors.$accent, 20%);
      }
    }
  }
}
