@use '/src/styles/gradients';
@use '/src/styles/typography';
@use '/src/styles/helpers';
@use '/src/styles/screens';
@use '/src/styles/spacings';
@use '/src/styles/colors';
@use '/src/styles/boxShadows';
@use '/src/styles/textEllipsis';

.tablePageSection {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: spacings.$medium;

  &_centerAlignment {
    align-items: center;
  }

  &_endAlignment {
    align-items: flex-end;
  }
}
