@use '/src/styles/gradients';
@use '/src/styles/typography';
@use '/src/styles/helpers';
@use '/src/styles/screens';
@use '/src/styles/spacings';
@use '/src/styles/colors';
@use '/src/styles/boxShadows';
@use '/src/styles/textEllipsis';

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 0 spacings.$medium;

  @include screens.lg {
    padding: 0 spacings.$xxLarge;
  }

  &_topBarSpace {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100dvw;
    background: colors.$text;
  }

  &_content {
    position: relative;
    display: flex;
    flex: 1 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: helpers.pxToRem(1440);
  }
}
