@use '/src/styles/gradients';
@use '/src/styles/typography';
@use '/src/styles/helpers';
@use '/src/styles/screens';
@use '/src/styles/spacings';
@use '/src/styles/colors';
@use '/src/styles/boxShadows';
@use '/src/styles/textEllipsis';

.downloadableDocuments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: helpers.pxToRem(16);

  &_list {
    display: flex;
    flex-direction: column;
    gap: helpers.pxToRem(16);
    max-width: 100%;

    &Item {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
    }
  }
}
