@use '/src/styles/gradients';
@use '/src/styles/typography';
@use '/src/styles/helpers';
@use '/src/styles/screens';
@use '/src/styles/spacings';
@use '/src/styles/colors';
@use '/src/styles/boxShadows';
@use '/src/styles/textEllipsis';

.navBar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_contact {
    display: flex;
    justify-content: center;
    width: 100%;
    background: colors.$text;
    padding: 0 spacings.$medium;

    @include screens.lg {
      padding: 0 spacings.$xxLarge;
    }
  }

  &_navigationContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: colors.$accent;
    padding: 0 spacings.$medium;

    @include screens.lg {
      padding: 0 spacings.$xxLarge;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: spacings.$small;
  width: 100%;
  min-height: 50px;
  max-width: helpers.pxToRem(1440);
  padding: helpers.pxToRem(12) 0;

  &_logoLink {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_logo {
    width: helpers.pxToRem(69);
    height: helpers.pxToRem(48);
  }

  &_desktopLogo {
    width: helpers.pxToRem(87);
    height: helpers.pxToRem(61);
  }

  &_logoTitle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  &_toggleMenuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: helpers.pxToRem(48);
    height: helpers.pxToRem(48);
    border-radius: 50%;
    background-color: transparent;
    border: none;
    transition:
      transform 150ms ease-in-out,
      background 150ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &:focus {
      transform: scale(1.1);
      background: rgba(colors.$background, 0.05);
    }
  }

  &_toggleMenuIcon {
    color: colors.$text;
    width: helpers.pxToRem(32);
    height: helpers.pxToRem(32);
  }

  &_list {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    background: colors.$accent;
    transform: translateY(100%);
    z-index: 10;
    list-style: none;

    &__desktop {
      position: relative;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      flex: 1 0;
      gap: spacings.$small;
      height: 100%;
      background: transparent;
      transform: none;
      overflow-x: clip;

      & .navigation_link {
        &:hover {
          background: transparent;

          & > span {
            transform: scale(1);
          }
        }

        &__active {
          background: transparent;

          & > span {
            transform: scale(1);
            color: colors.$background;
          }
        }
      }
    }

    &__fullHeight {
      height: calc(100dvh - 100%);
      transition: height 200ms ease-in-out;
    }
  }

  &_ListItem {
    width: 100%;
    height: fit-content;
  }

  &_link {
    display: flex;
    align-items: center;
    width: 100%;
    height: helpers.pxToRem(48);
    padding: 0 spacings.$small;
    text-decoration: none;

    & > span {
      transition: transform 150ms ease-in-out;
      word-break: break-all;

      @include textEllipsis.createTextEllipsis(1);
    }

    &:hover {
      background: rgba(colors.$background, 0.15);
      color: colors.$background;

      & > span {
        color: colors.$background;
        transform: scale(1.05);
      }
    }

    &__active {
      background: rgba(colors.$background, 0.15);

      & > span {
        color: colors.$background;
      }
    }

    @include screens.lg {
      padding: 0;
    }
  }

  @include screens.lg {
    padding: helpers.pxToRem(6) 0;
  }
}

.navigationItemAccordion {
  &_trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: spacings.$xxSmall;
    width: 100%;
    height: helpers.pxToRem(48);
    padding: 0 spacings.$small;
    background: transparent;
    border: none;
    transition: background 150ms ease-in-out;

    & > span,
    .navigationItemAccordion_chevronUp {
      transition: transform 150ms ease-in-out;
      color: colors.$text;
      word-break: break-all;

      @include textEllipsis.createTextEllipsis(1);
    }

    &:hover {
      background: rgba(colors.$background, 0.15);

      & > span,
      .navigationItemAccordion_chevronUp {
        color: colors.$background;
        transform: scale(1.05);
      }
    }

    &[data-state='open'] {
      & > .navigationItemAccordion_chevronUp {
        transform: rotate(180deg);
      }
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  &_list {
    display: flex;
    flex-direction: column;
    height: fit-content;
    list-style: none;

    &Separator {
      padding: spacings.$small;
    }
  }

  &_listItem {
    display: flex;
    align-items: center;
    height: helpers.pxToRem(48);
  }

  &_link {
    display: flex;
    align-items: center;
    width: 100%;
    height: helpers.pxToRem(48);
    padding: 0 spacings.$small;
    text-decoration: none;

    & > span {
      transition: transform 150ms ease-in-out;
      word-break: break-all;

      @include textEllipsis.createTextEllipsis(1);
    }

    &:hover {
      background: rgba(colors.$background, 0.15);

      & > span {
        color: colors.$background;
        transform: scale(1.05);
      }
    }

    &__active {
      background: rgba(colors.$background, 0.15);

      & > span {
        color: colors.$background;
      }
    }
  }

  &_chevronUp {
    width: helpers.pxToRem(24);
    height: helpers.pxToRem(24);
  }
}

.navigationItemWithDropdown {
  &_trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: spacings.$xxSmall;
    width: 100%;
    height: helpers.pxToRem(48);
    background: transparent;
    border: none;
    transition: background 150ms ease-in-out;

    & > span,
    .navigationItemWithDropdown_chevronUp {
      transition: transform 150ms ease-in-out;
      color: colors.$text;
      word-break: break-all;

      @include textEllipsis.createTextEllipsis(1);
    }

    &:hover {
      & > span,
      .navigationItemWithDropdown_chevronUp {
        color: colors.$background;
      }
    }

    &[data-state='open'] {
      & > .navigationItemWithDropdown_chevronUp {
        transform: rotate(180deg);
      }
    }
  }

  &_list {
    list-style: none;

    &Separator {
      padding: spacings.$small;
    }
  }

  &_link {
    display: flex;
    align-items: center;
    width: 100%;
    height: helpers.pxToRem(48);
    padding: 0 spacings.$small;
    text-decoration: none;

    & > span {
      transition: transform 150ms ease-in-out;
      word-break: break-all;

      @include textEllipsis.createTextEllipsis(1);
    }

    &:hover {
      background: rgba(colors.$background, 0.15);

      & > span {
        color: colors.$background;
      }
    }

    &__active {
      background: rgba(colors.$background, 0.15);

      & > span {
        color: colors.$background;
      }
    }
  }

  &_content {
    background: colors.$accent;
    border-radius: helpers.pxToRem(0, 0, 4, 4);
    box-shadow: boxShadows.$primary-shadow;

    @include gradients.boxGradient(top);
  }

  &_chevronUp {
    width: helpers.pxToRem(24);
    height: helpers.pxToRem(24);
  }
}
