@use '/src/styles/gradients';
@use '/src/styles/typography';
@use '/src/styles/helpers';
@use '/src/styles/screens';
@use '/src/styles/spacings';
@use '/src/styles/colors';
@use '/src/styles/boxShadows';
@use '/src/styles/textEllipsis';

.table {
  margin-top: spacings.$xxLarge;
  border: solid helpers.pxToRem(1) colors.$text;
  border-radius: helpers.pxToRem(4);
  overflow: clip;
  max-width: fit-content;

  &_headRow {
    @include gradients.boxGradient();
  }
}
