@use '/src/styles/gradients';
@use '/src/styles/typography';
@use '/src/styles/helpers';
@use '/src/styles/screens';
@use '/src/styles/spacings';
@use '/src/styles/colors';
@use '/src/styles/boxShadows';
@use '/src/styles/textEllipsis';

.styledLinksList {
  display: flex;
  flex-direction: column;
  gap: spacings.$medium;
  width: 100%;

  &_item {
    display: flex;
    align-items: stretch;
    gap: spacings.$large;
    height: max-content;

    &::before {
      content: '';
      display: block;
      flex: 1 0;
      min-width: helpers.pxToRem(2);
      width: helpers.pxToRem(2);
      max-width: helpers.pxToRem(2);
      min-height: 2rem;
      opacity: 0;

      @include gradients.boxGradient(top, separator);
    }

    &[data-is-active='true'] {
      &::before {
        opacity: 100%;
      }

      & .itemLink_title {
        color: transparent !important;
        -webkit-text-fill-color: transparent !important;
      }
    }
  }
}

.itemLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: spacings.$medium;
  text-decoration: none;
  width: fit-content;
  outline: none !important;

  &_title {
    color: colors.$text;
    -webkit-text-fill-color: colors.$text;
  }

  &:hover,
  &:active {
    cursor: pointer;

    & .itemLink_title {
      color: transparent !important;
      -webkit-text-fill-color: transparent !important;
    }
  }

  &_description {
  }
}
